<div class="home-container">
    <header>
        <div class="home-header">
            <div class="header">
                <div class="left-h">
                    <div class="lh">
                        <div class="logo" (click)="gotoHome()">
                            <div class="logo-text">
                                <div>
                                    <img class="logo" [src]="'./assets/images/app-logo.png'">
                                </div>
                                <div class="text">
                                    Jyotishh
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-h">
                    <div class="rh">
                        <div class="nav-header">
                            <div  class="{{nav.class}}"  *ngFor="let nav of routeNav;let i=index">
                                <div (click)="pageNavigation(nav.url)" *ngIf="nav.name != 'Languages' && nav.name != 'Login'">{{nav.name}}</div>
                                <img (click)="pageNavigation(nav.url)" *ngIf="nav.name == 'Login'" class="client-profile" src="../../../assets/images/client-profile.png" />
                                <div *ngIf="nav.name == 'Languages'">
                                    <div class="popup" (click)="languagePopup()">Languages
                                        <div class="popuptext" id="myPopup">
                                            <div class="lnges" *ngFor="let lnge of ['English','Kannada','Telugu']"> {{lnge}}
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>