<header>
    <div class="home-header">
        <div class="header">
            <div class="left-h">
                <div class="lh">
                    <div class="logo" (click)="gotoHoe()">
                        <div class="logo-text">
                            <div>
                                <img class="logo" [src]="'./assets/images/app-logo.png'">
                            </div>
                            <div class="text">
                                Jyotishh
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-h">
                <div class="rh">
                    <div class="nav-header">
                        <div class="contactus" (click)="pageNavigation('/home/contactus')">Contact us</div>
                        <div class="languages" (click)="pageNavigation('/home/languages')">Languages</div>
                        <div class="login" (click)="pageNavigation('/login')">Login</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<main>
    <router-outlet></router-outlet>
</main>