.login-container{
    // height: calc(100vh - 20px);
    height:100%;
    width:100%;

    // margin:0px -3px;
    // border:2p solid red;
    // margin:0px 3px; 
    overflow: hidden;
    // // background-color: black;
    // position:absolute;
    // font-family: sans-serif;
    .login-make-center{
        display: flex;
        justify-content: center;
        align-items: center;
       

        .login-lr
        {
            width: 100%;
            // height: calc(100vh - 20px);
            // calc(100vh - 20px);
            display: grid;
            grid-template-columns: 50% 50%;

           
            .login-left
            {
                
                // height: calc(100vh - 20px);
                // calc(100vh - 20px);
                background-color: white;
                background-size: cover;
                .logo-left{
                    padding: 15px 0px;
                    width: 130px;
                    margin-left: 30px;
                    .logo-text{
                        cursor: pointer;
                        display: grid;
                        grid-template-columns: 45px 85px;
                        .logo{
                            width:30px;
                        }
                        .text{
                            font-size:25px;
                        }
                    }
                }
                .heading-middle
                {
                    text-align: center;
                    font-size: 35px;
                    // font-weight: 600;
                }
                .ll{
                    // height:100vh;
                    // calc(100vh - 20px);
                    // 770px;
                }
            }
            .login-right{
                height:100vh;
                background-image: url("../../../assets/images/login/login-right-bg.png");
                background-size: cover; 
                background-repeat: no-repeat;
                // border:3px solid black;
                overflow: hidden !important;
            }
        }
    }
    .login-form-container
    {
        // border:2px solid red;
        // scale:1;
    }
    .login-form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:60px;
    }
    .email-container,.password-container{
        border:2px solid lightgray;
        border-radius: 50px;
        padding:10px;
        width:350px;
        margin-top:20px;
        .email{
            display: grid;
            grid-template-columns: 40px 300px;
            .icon{
                img{
                    width:20px;
                    position: absolute;
                    margin-top: 1px;
                    margin-left: 15px;
                }
            }
            .email-inp{
                input[type="email"]{
                    border: none;
                    width: 100%;
                    /* background-color: red !important; */
                    outline: none;
                    background-color: white !important;
                }
            }
        }
        .password{
            display: grid;
            grid-template-columns: 40px 270px 30px;
            .icon{
                img{
                    width:20px;
                    position: absolute;
                    margin-top: 1px;
                    margin-left: 15px;
                }
            }
            .see{
                display: flex;
                justify-content: end;
                align-items: center;
                img{
                    width:20px;
                    position: absolute;
                    margin-top: 1px;
                    
                }
            }
            .password-inp{
                input[type="password"],input[type="text"]{
                    border: none;
                    width: 100%;
                    /* background-color: red !important; */
                    outline: none;
                    background-color: white !important;
                }
            }
        }
    }
    .submit{
        text-align: center;
        margin-top:50px;
        // cursor: pointer;
        button{
            cursor: pointer;
            padding:10px;
            width:380px;
            margin-top:20px;
            background-color: rgb(39, 39, 66);
            border-radius: 50px;
            color:whitesmoke;
        }
    }
    .or-hline{
        width: 100%;
        margin-top:50px;
        display: flex;
        justify-content: center;
        .line{
            width:350px;
            text-align: center;
            border-bottom:2px solid lightgray;
        }
        .or{
            display: flex;
            justify-content: center;
            font-size:11px;
            color:gray;
            .lor{
                position: absolute;
                margin-top:-5px;
                width:40px;
                height:30px;
                background-color: white;

            }
        }
    }

    
    .google-apple{
        width:100%;
        margin-top:35px;
        display: flex;
        justify-content: center;
        .ga-container{
            width:400px;
            display: grid;
            grid-template-columns: 45% 10% 45%;

            .google{
                cursor: pointer;
                width: 180px;
                height: 40px;
                display: flex;
                justify-content: center;
                border:2px solid lightgray;
                border-radius: 50px;
                .g-img{
                    display: flex;
                    align-items: center;
                }
                img{
                    height:25px;
                    width:25px;
                }
            }
            .apple{
                cursor: pointer;
                width: 180px;
                height: 40px;
                display: flex;
                justify-content: center;
                border:2px solid lightgray;
                border-radius: 50px;
                .a-img{
                    display: flex;
                    align-items: center;
                }
                img{
                    height:25px;
                    width:25px;
                }
            }
        }
    }
    .forget-password{
        display: flex;
        justify-content: center;
        font-size:12px;
        div{
            width: 350px;
            text-align: end;
            margin-top:5px;
        }
    }

    .noaccount-signup{
        margin-top:80px;
        display: flex;
        justify-content: center;
        font-size:13px;
        div{
            strong{
                cursor: pointer;
            }
        }
    }
    
}
/* Base scale */
.login-form-container {
    transform: scale(1);
    // border:2px solid red;
}

/* 80% resolution */
@media (max-width: 1280px) {
    .login-form-container {
        transform: scale(0.8);
        // border:2px solid blue;
        margin-top:-60px;
    }
}

/* 90% resolution */
@media (min-width: 1281px) and (max-width: 1440px) {
    .login-form-container {
        transform: scale(0.9);
        // border:2px solid green;
        margin-top:-30px;
    }
}

/* 100% resolution */
@media (min-width: 1441px) and (max-width: 1600px) {
    .login-form-container {
        transform: scale(1);
        // border:2px solid yellow;
    }
}

/* 110% resolution */
@media (min-width: 1600px) and (max-width: 1760px) {
    .login-form-container {
        transform: scale(1.1);
        // border:2px solid gold;
        margin-top:50px;
    }
}

/* 125% resolution */
@media (min-width: 1761px) and (max-width: 2000px) {
    .login-form-container {
        transform: scale(1.25);
        // border:2px solid brown;
        margin-top:100px;
    }
}

// login-left